apiVersion: apps/v1
kind: Deployment
metadata:
  name: dashboard-deployment
  namespace: 2401036-dashboard
  labels:
    app: dashboard
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dashboard
  template:
    metadata:
      labels:
        app: dashboard
    spec:
      containers:
        - name: dashboard
          image: registry.college.local/dashboard:v1
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
