# --------------------------------
# Deployment (no PVC needed)
# --------------------------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dashboard-deployment
  namespace: "2401036"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dashboard

  template:
    metadata:
      labels:
        app: dashboard

    spec:
      imagePullSecrets:
        - name: nexus-secret

      containers:
        - name: dashboard
          image: 127.0.0.1:30085/2401036-project/dashboard-2401036:latest
          imagePullPolicy: Always

          ports:
            - containerPort: 8080

          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 30
