apiVersion: apps/v1
kind: Deployment
metadata:
  name: dashboard-deployment
  namespace: 2401036-dashboard
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dashboard
  template:
    metadata:
      labels:
        app: dashboard
    spec:
      containers:
        - name: dashboard
          image: nexus-service-for-docker-hosted-registry.nexus.svc.cluster.local:8085/2401036-dashboard/dashboard:v1
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
