apiVersion: v1
kind: Service
metadata:
  name: dashboard-service
  namespace: 2401036-dashboard
spec:
  selector:
    app: dashboard
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: 30080
  type: NodePort
